<%for(var i=0;i<data.length;i++){%>
<%let date=data[i].date.toDateString().split(' ')%>
<div
	class="relative p-7 drop-shadow-xl rounded-lg bg-white w-80  flex flex-col items-center">
	<div class="absolute top-2 left-2 px-2 py-1 rounded-full bg-blue-300 text-white text-sm"><%=date[2]%> <%=date[1]%></div>
	
    <div class="mb-4">
        <img src="https://source.unsplash.com/random/?users#<%+new Date().getTime()%>"class="h-24 w-24 rounded-full" alt="" />
	</div>
	<p class="text-lg font-semibold">
		<%=data[i].title%>
	</p>
	<p class="text-md font-light ">
		<%=data[i].description%>
	</p>
	<div class="flex justify-between">
		<p class="mr-5">
			From: <%=data[i].from%>
		</p>
		<p>
		To: <%=data[i].to%>
		</p>
	</div>
	<div class="flex justify-between w-full  my-2">

		<a href="/appointments/<%=data[i].id%>/edit"
			class="block  w-14 text-green-600 text-center bg-green-100 hover:shadow hover:shadow-lg hover:shadow-green-500/50 rounded-full flex justify-center pt-2 pb-1 drop-shadow-2x"><svg
				xmlns="http://www.w3.org/2000/svg" fill="none"
				viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
				class="w-6 h-5">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
			</svg>
		</a>

		<a href="" onclick="deleteAppointment('<%=data[i].id%>')"
			class="block px-4 py-2  text-red-600 bg-red-100 rounded-full w-14 flex justify-center pt-2 pb-1 drop-shadow-2x hover:shadow-lg hover:shadow-red-500/50"><svg
				xmlns="http://www.w3.org/2000/svg" fill="none"
				viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
				class="w-4 h-4">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
			</svg>
		</a>

	</div>
</div>
<%}%>
