<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="csrf-token" content="<%= csrfToken %>" />
	<script src="https://cdn.tailwindcss.com"></script>
	<title>
		<%=title%>
	</title>

	<link rel="dns-prefetch" href="//unpkg.com" />
	<link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

	<style>
		[x-cloak] {
			display: none;
		}

		tr:nth-child(even) {
			background: rgb(204 204 204 / 20%);
		}

		tr:hover {
			background: #c2c2c278;
		}
	</style>
	<script>
		var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content")

		function deleteAppointment(id) {
			var result = confirm("Are you sure?")
			if (result) {
				// const confilrm =  document.getElementById("confirmDelete").value
				fetch(`/appointments/${id}`, {
					method: 'delete',
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({
						_csrf: token
					})
				}).then((res) => {
					if (res.ok) {
						window.location.reload();
					}
				}).catch((err) => console.log(err))
			}

		}


	</script>

	<style>
		.badge {
			position: absolute;
			top: -5px;
			right: 15px;
			padding: 4px 9px;
		}

		.relative {
			position: relative;
		}
	</style>
</head>

<body style="background-color: #f1f3f4;">

<%-include('header.ejs',{data:user})%>
	<main class="pt-10">
		<div class="container shadow-lg rounded-lg mx-auto p-5 min-h-screen mb-8" style="background-color: #f4f8f9;">
			<div>
				<%let totalAppointments =  currentData.length + pastAppointments.length + upcoimngAppointments.length%>
				<p class="text-2xl font-semibold">Appointments <span
						class="bg-blue-400 text-white py-1 px-3 shadow rounded-lg font-medium text-sm"><%=totalAppointments%></span></p>
			</div>
			<div class="flex justify-between">
				<div class="flex p-3 drop-shadow-2x border-none bg-white rounded-full mt-5" style="width:max-content">
					<div class="relative">
						<button id="tdyBtn" onclick="showToday()"
							class="bg-blue-400 py-2 px-8 rounded-full drop-shadow-xl mr-5 focus:outline-none text-white font-semibold text-lg hover:bg-blue-600">Today</button>
						<span id='badge1'class=" bg-green-400 rounded-full text-sm text-white font-medium border-2 badge"><%=currentData.length%></span>
					</div>
					<div class="relative">
						<button onclick="showUpcoming()" id="upcBtn"
							class=" py-2 px-8 rounded-full drop-shadow-xl mr-5 focus:outline-none text-white font-semibold text-lg"
							style="background-color: #cccccc;">Upcoming</button>
						<span id='badge2' class=" bg-blue-300 rounded-full text-sm text-white font-medium border-2 badge"><%=upcoimngAppointments.length%></span>
					</div>
					<div class="relative">
						<button onclick="showPrevious()" id="pastBtn"
							class=" py-2 px-8 rounded-full drop-shadow-xl focus:outline-none text-white font-semibold text-lg"
							style="background-color: #cccccc;">Past</button>
						<span id='badge3' class=" bg-blue-300 rounded-full text-sm text-white font-medium border-2 badge" style="top: -6px;
						right: 1px;"><%=pastAppointments.length%></span>
					</div>

				</div>
				<div class="p-3">
					<button type="button" id="submitBtn" name="submit_btn"
						class=" text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2 w-full focus:outline-none">
						<a href="/appointments/addAppoinment"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
								viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
							</svg></a>
					</button>

				</div>
			</div>

					<div id="today" style="display: block;  margin-top: 30px;">
						<%if(currentData.length>0){%>
							<div class="grid grid-cols-2 grid-flow-row gap-4 md:grid-cols-3 ml-14 mt-8">
								<%-include('displayData.ejs',{data:currentData})%>

							</div>
							<%}%>
						<%if(currentData.length==0){%>
							<p class="text-lg font-normal text-center">No appointments for today!</p>
						<%}%>
					</div>

					<div id="previous" style="display: none;margin-top: 30px; ">
						<%if(pastAppointments.length>0){%>
							<div class="grid grid-cols-2 grid-flow-row gap-4 md:grid-cols-3 ml-14 mt-8">
								<%-include('displayData.ejs',{data:pastAppointments})%>

							</div>
							<%}%>
						<%if(pastAppointments.length==0){%>
							<p class="text-lg font-normal text-center">There are no past appointments!</p>
						<%}%>
					</div>
					
					<div id="upcoming" style="display: none; margin-top: 30px; ">
						<%if(upcoimngAppointments.length>0){%>
							<div class="grid grid-cols-3 grid-flow-row gap-4 md:grid-cols-3 ml-14 mt-8">
								<%-include('displayData.ejs',{data:upcoimngAppointments})%>

							</div>
							<%}%>
						<%if(upcoimngAppointments.length==0){%>
							<p class="text-lg font-normal text-center">No upcoimng appointments!</p>
						<%}%>
					</div>

		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.1/flowbite.min.js"></script>
	<script>
		const todayDiv = document.querySelector('#today');
		const previousDiv = document.querySelector('#previous');
		const upcomingDiv = document.querySelector('#upcoming');
		const tdyBtn = document.getElementById('tdyBtn')
		const upcBtn = document.getElementById('upcBtn')
		const pastBtn = document.getElementById('pastBtn')
		const badge1 = document.getElementById('badge1')
		const badge2 = document.getElementById('badge2')
		const badge3 = document.getElementById('badge3')
		const showToday = () => {
			todayDiv.style.display = 'block';
			previousDiv.style.display = 'none';
			upcomingDiv.style.display = 'none';
			tdyBtn.style.backgroundColor = '#60a5fa';
			upcBtn.style.backgroundColor = '#cccccc';
			pastBtn.style.backgroundColor = '#cccccc';
			badge1.style.backgroundColor = '#4ade80';
			badge2.style.backgroundColor = '#93c5fd';
			badge3.style.backgroundColor = '#93c5fd';
		};

		const showPrevious = () => {
			todayDiv.style.display = 'none';
			previousDiv.style.display = 'block';
			upcomingDiv.style.display = 'none';
			tdyBtn.style.backgroundColor = '#cccccc';
			upcBtn.style.backgroundColor = '#cccccc';
			pastBtn.style.backgroundColor = '#60a5fa';
			badge1.style.backgroundColor = '#93c5fd';
			badge2.style.backgroundColor = '#93c5fd';
			badge3.style.backgroundColor = '#4ade80';
		};

		const showUpcoming = () => {
			todayDiv.style.display = 'none';
			previousDiv.style.display = 'none';
			upcomingDiv.style.display = 'block';
			tdyBtn.style.backgroundColor = '#cccccc';
			upcBtn.style.backgroundColor = '#60a5fa';
			pastBtn.style.backgroundColor = '#cccccc';
			badge1.style.backgroundColor = '#93c5fd';
			badge2.style.backgroundColor = '#4ade80';
			badge3.style.backgroundColor = '#93c5fd';
		};

		//let showContent = true
	</script>
</body>

</html>